.featured {
  margin: 1%;
  max-width: 1700px;
  width: 100%;
}

.featured-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.featured-image {
  height: auto;
  width: auto;
  border: 2px solid darkgray;
  max-width: 100%;
}

.featured-items {
  display: flex;
  flex-direction: column;
  border: 20px solid #eeeeee;
  background-color: #eeeeee;
  align-items: center;
  margin: 2%;
}

.feat-p {
  font-weight: bold;
  max-width: 100%;
}

.hr {
  width: 1px;
  background-color: darkgray;
}

.h2-tag {
  font-weight: bold;
  font-size: x-large;
  margin-left: 2%;
}

@media (max-width: 1400px) {
  .featured {
    max-width: 1300px;
  }
}

@media (max-width: 1300px) {
  .featured {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .featured {
    max-width: 1100px;
  }
}

@media (max-width: 1100px) {
  .featured {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .featured {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .featured {
    max-width: 800px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .featured {
    max-width: 700px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .featured {
    max-width: 600px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .featured {
    max-width: 500px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .featured {
    max-width: 400px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .featured {
    max-width: 350px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .featured {
    max-width: 300px;
  }
  .featured-container {
    flex-direction: column;
  }
  .hr {
    width: 100%;
  }
}
