.header {
  display: flex;
  flex-direction: row;
  margin: 2%;
  max-width: 1700px;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  width: 63%;
  line-height: 1.5;
}

#pic-calla {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 6%;
}

#h1-tag {
  font-size: 275%;
}

#cv-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #ff7f50;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 20%;
}

.cv-button:hover,
.cv-button:focus {
  background-color: #ff7f50;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cv-button:hover {
  transform: translateY(-1px);
}

.cv-button:active {
  background-color: #ff7f50;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

#a-tag {
  text-decoration: none;
}

#p-tag {
  font-size: large;
}
