.portfolio-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  max-width: 1700px;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 1600px;
}

.port-a-tag-1 {
  background-color: #9590a8;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-1:hover {
  background-color: #9590a8;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.grid-item {
  margin: auto;
}

.port-a-tag-2 {
  background-color: #bfedef;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-2:hover {
  background-color: #bfedef;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-3 {
  background-color: #5b7553;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-3:hover {
  background-color: #5b7553;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-4 {
  background-color: #98473e;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-4:hover {
  background-color: #98473e;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-5 {
  background-color: #c6c8ee;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-5:hover {
  background-color: #c6c8ee;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-6 {
  background-color: #fcaa67;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-6:hover {
  background-color: #fcaa67;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-7 {
  background-color: #b49a67;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-7:hover {
  background-color: #b49a67;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-8 {
  background-color: #ffe66d;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-8:hover {
  background-color: #ffe66d;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.port-a-tag-9 {
  background-color: #c98bb9;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.port-a-tag-9:hover {
  background-color: #c98bb9;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  opacity: 80%;
}

#portfolio-title {
  font-size: 300%;
}

.github-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.portfolio-p {
  font-size: 200%;
  margin: auto;
}

.paragraph-item {
  width: 90%;
  font-weight: bold;
  font-size: 190%;
  margin: auto;
  text-align: center;
}

@media (max-width: 1400px) {
  .portfolio-main {
    max-width: 1300px;
  }
}

@media (max-width: 1300px) {
  .portfolio-main {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .portfolio-main {
    max-width: 1100px;
  }
}

@media (max-width: 1100px) {
  .portfolio-main {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .portfolio-main {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .portfolio-main {
    max-width: 800px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}

@media (max-width: 800px) {
  .portfolio-main {
    max-width: 700px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}

@media (max-width: 700px) {
  .portfolio-main {
    max-width: 600px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}

@media (max-width: 600px) {
  .portfolio-main {
    max-width: 500px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}

@media (max-width: 500px) {
  .portfolio-main {
    max-width: 400px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}

@media (max-width: 400px) {
  .portfolio-main {
    max-width: 350px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}

@media (max-width: 350px) {
  .portfolio-main {
    max-width: 300px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .port-a-tag-1,
  .port-a-tag-2,
  .port-a-tag-3,
  .port-a-tag-4,
  .port-a-tag-5,
  .port-a-tag-6,
  .port-a-tag-7,
  .port-a-tag-8,
  .port-a-tag-9 {
    height: 20%;
  }
}
